<footer class="bg-dark py-5 text-light text-center shadow">
    &copy; All rights reserved
    <div>Calendar Icons made by <a class="text-info" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="text-info" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
