<nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3 shadow">
  <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-info">
        <img src="/images/monthly-calendar.svg" width="30" height="30" class="d-inline-block align-top" alt="calendaricon">

        <span class="daily">Daily </span>
        <br>
        <span class="calendarLogo">Calendar</span>
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/" class="nav-link ">Home</a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link ">About</a>
        </li>
        <li class="nav-item">
            <a href="/contact" class="nav-link ">Contact</a>
        </li>
      </ul>
      </div>
      <div class="collapse navbar-collapse position-absolute top-25 end-0" id="navbarNav">
        <ul class="navbar-nav">
          <% if(!signedIn){ %>
            <li><a class="nav-link" href="/login">Login</a></li>
            <li><a class="nav-link pr-5" href="/signup">Sign Up</a></li>
          <% } else { %>
            <li><a class="nav-link logout" href="/logout" >Logout</a> </li>
          <% } %>
        </ul>
      </div> 
  </div>
</nav>
