<div class="container">
    <div class="row">
        <div class="col about">
            <hr>
            <p>
                The basic idea of “DailyCalendar” is to be able to see a calendar and see the title and time of events on the corresponding days. The user can then click on the event and see the details of the event.
            </p>
            <p>
                If the user is logged in, they will be able to update, create or delete events on the calendar. For users that aren’t logged in, they could only see the calendar view and the about page. The idea is to eventually be able to have it be a family calendar scheduling system where you can have several calendars and can share events, but that part is beyond the scope of the project, I feel. 
            </p>
            <p>    
                The biggest component would be to figure out how to have the date data be reflected on the calendar itself, and to then have the date data show in the correct grid spot of the calendar. 
            </p>
            
        </div>
    </div>
</div>