// Your styles go here
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
.daily{
    font-weight: 200;
    font-size: 1.5rem;
}
.calendarLogo{
    font-weight: 500;
    font-size: 1.5rem;
}
ul.navbar-nav{
    text-align: center;
}
li.nav-item{
    font-size: 1.3rem;
    font-weight: 500;
}

.weekDayHeaders{
    // padding-right: 0;
    text-align: right;
    width:10rem;

}
.dayBox{
    width:10rem;
    height: 10rem;
    text-align: right;
}