// Your styles go here
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: 1.2rem;
}

.daily{
    font-weight: 300;
    font-size: 1.5rem;
}
.calendarLogo{
    font-weight: 600;
    font-size: 1.5rem;
}
ul.navbar-nav{
    text-align: center;
}
li.nav-item, .nav-link{
    font-size: 1.3rem;
    font-weight: 500;
}
.logout, a{
    cursor: pointer;
}
a.loginLink{
    font-weight: 600;
    text-decoration:none;
}

.weekDayHeaders{
    text-align: right;
    width:10rem;
}

.dayBox{
    width:10rem;
    height: 10rem;
    text-align: right;
}